@font-face {
    font-family: 'Roboto', sans-serif;
    src: url("assets/fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto', sans-serif;
    src: url("assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

:root {
    /* colors */
    --tomato: hsl(4, 100%, 67%);
    /* neutral colors */
    --darkSlateGrey: hsl(234, 29%, 20%);
    --charcoalGrey: hsl(235, 18%, 26%);
    --grey: hsl(231, 7%, 60%);
    --white: hsl(0, 0%, 100%);
    /* font size */
    --size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--charcoalGrey);
    font-size: var(--size);
    font-family: 'Roboto', sans-serif;
}

.sing-up {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 900px;
    height: 600px;
    background-color: var(--white);
    border-radius: 30px;
    padding: 10px 10px;
}

.left {
    flex: 1;
    margin: 0px;
    padding: 0px 30px;
}

.left h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.left p {
    margin-top: 15px;
    margin-right: 30px;
    font-weight: 400;
}

.left .menu div {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    gap: 14px;
}

.left .menu div span {
    font-weight: 400;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-size: 12px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

form label .error {
    display: none;
    color: red;
}

.email.box {
    border: 1px solid red;
    background-color: rgba(255, 0, 0, 0.1);
}

.email.box::placeholder {
    color: rgba(255, 0, 0, 0.678);
}

form .email {
    padding: 0.8rem 19px;
    outline: none;
    border-radius: 5px;
}

.submit {
    padding: 0.9rem 1rem;
    background-color: var(--darkSlateGrey);
    color: var(--white);
    border: none;
    border-radius: 5px;
}

.submit:hover {
    background: linear-gradient(187deg, rgba(255,101,71,1) 0%, rgba(255,89,104,1) 70%); 
    cursor: pointer;
    box-shadow: 0px 6px 15px rgba(255, 102, 71, 0.4);
}

.imagen {
    flex: 1;
    width: 450px;
    height: 570px;
    background-image: url(/assets/images/illustration-sign-up-desktop.svg);
    background-repeat: no-repeat;
}

.message {
    display: none;
    width: 100%;
    background-color: var(--white);
    max-width: 500px;
    padding: 1.2em 2.4rem;
    border-radius: 30px;
}

.message .icon {
    padding: 20px 0px;
}

.message h1 {
    font-size: 2.6rem;
    margin-bottom: 20px;
}

.message p {
    font-weight: normal;
    margin-right: 10px;
    margin-bottom: 30px;
    line-height: 1.3;
}

.message p span {
    font-weight: bold;
}

.message .btn-message {
    padding: 0.8rem 0rem;
    width: 100%;
    background-color: var(--darkSlateGrey);
    color: var(--white);
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
}

.message .btn-message:hover {
    background: linear-gradient(187deg, rgba(255,101,71,1) 0%, rgba(255,89,104,1) 70%); 
    cursor: pointer;
    box-shadow: 0px 6px 15px rgba(255, 102, 71, 0.4);
}

@media screen and (max-width: 768px) {

    .sing-up {
        flex-direction: column-reverse;
        width: 400px;
        padding: 0;
        margin: 0;
        height: 850px;
    }

    .imagen {
        background-image: url(/assets/images/illustration-sign-up-mobile.svg);
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        background-position: top center;
    }

    .left {
        margin: 0;
        flex: 1.3;
    }

    .submit {
        margin-bottom: 25px;
    }

    .message {
        width: 100%;
        height: 850px;
        display: grid;
        align-items: center;
        border-radius: 10px;
        padding: 1rem 1rem;
        margin: 10px;
    }

    .message h1, p, .icon {
        margin-bottom: -50px;
    }


    .btn-message {
        margin-top: calc(150px + 50px);
    }
}


/* 
.container {
    width: 100%;
    max-width: 800px;
    height: 460px;
    background-color: var(--white);
    border-radius: 20px;
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left {
    flex: 1;
    padding: 0px 2.5rem;
    margin-left: 10px;
}

.left h1 {
    font-size: 2.3rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.left p {
    font-weight: 400;
    margin-bottom: 15px;
    margin-right: 15px;
}

.menu {
    margin: 20px 0px;
}

.menu div {
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 10px 0px;
}

label {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 12px;
    display: flex;
}

.email {
    padding: 0.8rem 1rem;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    outline: none;
    width: 100%;
}

.submit {
    padding: 0.8rem 2rem;
    width: 100%;
    border-radius: 5px;
    border: none;
    background: var(--darkSlateGrey);
    color: var(--white);
}

.submit:hover {
    /* background: rgb(255,101,71); 
    background: linear-gradient(187deg, rgba(255,101,71,1) 0%, rgba(255,89,104,1) 70%); 
    cursor: pointer;
    box-shadow: 0px 6px 15px rgba(255, 102, 71, 0.4);
}

li {
    list-style: none;
}

.sing-img {
    display: block;
    object-fit: cover;
    height: 450px;
    max-width: 400px;
    padding: 10px 20px;
    margin: 0 auto;
}

.sing-img-mobile {
    display: none;
}
 */

